<h1>Itineraries</h1>
<% if !user_signed_in? %>
  <h4>Get started now! </h4><%= link_to "Create an itinerary", new_itinerary_path, :class => 'btn btn-primary' %>
<% else %>
  <div id='existing_itineraries'>
  <ul>
    <% @itineraries.each do |itinerary| %>
      <li>&#9992;<%= link_to itinerary.name, itinerary %></li>
    <% end %>
  </ul>
  <%= link_to "Create an itinerary", new_itinerary_path, :class => 'btn btn-primary' %>
<% end %>
</div>
