@import "bootstrap";

/* universal */

body {
  padding-top: 40px;
  background-color: #696969;
  background-image: image-url("debut_dark.png");
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
}

.main {
  background-color: #F0EAD6;
  border-top: 7px solid;
  border-top-color: #FF8C7A;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.42);
}

#flights {
  padding-top: 15px;
}

#existing_itineraries {
  padding: 10px 0;
}

#existing_itineraries ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 20px;
}

#welcome_msg h3 {
  font-weight: normal;
  line-height: 24px;
  padding-top: 15px;
}

#home_sign_up_in {
    min-height: 200px;
    width: 353px;
    margin-top: 15px;

    border: 1px solid rgba(249,89,42,0.4);
    border-radius: 4px;

    background-color: #fcdfd6;
    background-image:
        linear-gradient(-90deg, rgba(255,255,255,0), white 65%, rgba(255,255,255,0.8) 95%, rgba(255,255,255,0));

    box-shadow:
        0 2px 6px -2px rgba(0,0,0,0.4),
        inset 0 1px 1px 1px rgba(255,255,255,0.8);

    text-align: center;

    border-color: rgba(0,158,99,0.4);
    background-color: #ceeee2;
}

/* form items */

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #02D3A2;
  background-image: none;
  margin-bottom: 5px;

}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #9FDCCC;
  *background-color: #003bb3;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fa5860;
  background-image: none;
  margin-bottom: 5px;

}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #fb7178;
  *background-color: #003bb3;
}

select {
  height: 30px;
  width: 107px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 31.5px;
  color:#02D3A2;
}
h2 {
  font-size: 24.5px;
  color:gray;
}
h3 {
  font-size: 17.5px;
  color:gray;
}
h4 {
  font-size: 14.5px;
  font-family: 'Open Sans', sans-serif;
  color: #FF8C7A;
}
h5 {
  font-size: 11px;
}
h6 {
  font-size: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #9FDCCC;
  padding-top: 9px;
  padding-left: 15px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#welcome_user{
  padding: 10px 15px 10px;
  color: #9FDCCC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* footer */
